.hero{
    height: 400px;
    background: linear-gradient(
        to right,
        yellow,
        green
    );
     color: rgb(186, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: rgb(46, 14, 225);
    transform: rotate(360deg);

}
.button{
    background: white;
    transition: 1.5s;
    color:black ;
    cursor: pointer;
}