.hero{
    height: 400px;
    background: linear-gradient(
        to right,
        blue,
        purple
    );
    color: rgb(205, 91, 91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}